body {
	margin: 0;
	font-family: sans-serif;
	text-align: center;
	font-variant: small-caps;

	z-index: 1;
	cursor: default;
	color: white;
}

#wrapper {
	background: url('../images/map.jpg');
	width: 100vw;
	height: 100vh;
	z-index: -2;
	position: absolute;
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0.35;
	bottom: 0;
}
#black {
	background: black;
	width: 100vw;
	height: 100vh;
	z-index: -2;
	position: absolute;
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0.4;
	bottom: 0;
}

article {
	display: none;
	flex-direction: column;
	align-items: center;
}

header {
	display: flex;
	flex-direction: column;
	width: 100vw;
	margin: 2% auto;
	background-image: url('../images/cover.png');
	background-repeat: no-repeat;
	background-size: cover;
	justify-content: flex-start;
	height: 90vh;
	align-items: center;
}

header h1 {
	text-shadow: 0px 0px 2px white;
	font-size: 4em;
	width: 10vw;
}

select {
	font-size: 2em;
	text-align: center;
	margin: 5vh auto;
	cursor: pointer;
	background: none;
	border: none;
	font-weight: 700;
}

select:hover {
	color: rgb(170, 36, 36);
	transition: 0.1s ease;
}

header button {
	padding: 1%;
	font-size: 1.2em;
	background: transparent;
	cursor: pointer;

	border-radius: 10px;
	color: rgb(161, 148, 26);
	font-weight: 600;
	background: white;
	margin: auto;
	height: 5vh;
	width: 15vw;
	border: 3px solid rgb(161, 148, 26);
	display: flex;
	justify-content: center;
	align-items: center;
}

header button:hover {
	color: rgb(253, 93, 93);
	transition: 250ms ease;
}

section {
	display: none;
	flex-direction: column;
	height: 100vh;
	align-items: center;
	justify-content: space-around;
}

ul {
	list-style: none;
	padding: 0px;
	display: flex;
	flex-direction: column;
	font-weight: 700;
	align-items: center;
	justify-content: space-between;
	width: 3vw;
	height: 100%;
	margin: auto;
}

li {
	margin: 0px 0;
}

span {
	position: absolute;
	top: 2vh;
	right: 3vw;
	font-weight: 700;
}

a {
	position: absolute;
	top: 3vh;
	left: 3.5vw;
	scale: 2;
	text-decoration: none;
	display: none;
}

ul li:nth-child(3) {
	border: 2px solid rgb(48, 201, 28);
	border-radius: 10px;
	padding: 0 0.75vw;
}

h1 {
	font-weight: 700;
	margin: 0;
}

h2,
h3 {
	font-weight: 600;
	margin: 0px;
	font-size: 1.5em;
}

h3 {
	border: 4px solid rgb(100, 197, 87);
	border-radius: 10px;
	width: 7vw;
	margin: auto;
	font-size: 2em;
}

footer {
	display: none;
	justify-content: center;
	align-items: center;
	height: 75vh;
	flex-direction: column-reverse;
}

footer button {
	margin-top: 10vh;
	padding: 5px 35px;
	font-size: 1.2em;
	background: transparent;
	cursor: pointer;
	border: 1px solid black;
	border-radius: 10px;
}

footer button:hover {
	color: rgb(247, 82, 82);
	transition: 250ms ease;
}

h5 {
	position: relative;
	bottom: 6vh;

	font-size: 1.2em;
	font-weight: 500;
}

h6 {
	position: relative;
	bottom: 6vh;

	font-size: 1.2em;
	font-weight: 500;
}

p {
	font-weight: 600;
}

.armies {
	border: 2px solid black;
	border-radius: 15px;
	width: 95vw;
	height: 22vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	z-index: 1;
}

.soldiers {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin: auto;
	width: 95vw;
	flex-wrap: wrap;
}

.strength {
	color: rgb(248, 99, 99);
}

.green {
	color: rgb(34, 219, 9);
}

.red {
	color: rgb(248, 99, 99);
}

.red:hover {
	color: rgb(189, 56, 56);
	transition: 100ms;
}

.yellow {
	color: rgb(192, 173, 0);
}

.yellow:hover {
	transition: 100ms;
	color: rgb(161, 148, 26);
}
.dexterity {
	color: rgb(255, 233, 33);
}

.not-implemented {
	color: gray;
	border-color: gray;
}

.not-implemented:hover {
	color: gray;
	border-color: gray;
}

.turnText {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 41vh;
}

.turnText h2 {
	font-size: 2.5em;
	visibility: hidden;
	font-variant: small-caps;
	font-weight: 600;
}
.shop {
	flex-wrap: wrap;
	display: flex;
	height: 40.5vh;
	width: 71vw;
	border: 1px solid black;
	position: absolute;
	left: 14vw;
	background: rgb(255, 245, 157);
	z-index: 1;
	justify-content: space-evenly;
	align-items: center;
	align-content: space-around;
}

.shop div {
	width: 26vw;
	height: 15vh;
	display: flex;
	flex-direction: column;
}

.shop p {
	font-size: 1.1em;
	width: 26vw;
	margin: auto;
	text-align: justify;
	color: black;
}

.shop button {
	background: rgb(192, 148, 5);
	color: rgb(252, 234, 132);
	border: 2px solid rgb(114, 102, 37);
	border-radius: 10px;
	font-size: 1.2em;
	cursor: pointer;
	width: 15vw;
}

.shop button:hover {
	color: rgb(255, 255, 255);
}

.hidden {
	display: none;
}
.saxon-sprite {
	width: 100%;
	height: 5vh;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	z-index: 0;
	scale: 1.3;
	transition: 1s ease;
}

.viking-sprite {
	width: 100%;
	height: 5vh;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	z-index: 0;
	scale: 1.3;
	transition: 1s ease;
}

#vikingH2 {
	color: rgb(255, 34, 34);
	position: absolute;
}

#saxonH2 {
	color: rgb(219, 199, 19);
	position: absolute;
}

#vikingDiv {
	background: rgb(143, 54, 54);
	color: rgb(255, 255, 255);
}

#saxonDiv {
	background: rgb(240, 227, 114);
	color: black;
}

#buttonContainer {
	display: flex;
	width: 13vw;
	flex-wrap: wrap;
	position: relative;
	right: 41.25vw;
	top: 6vw;
}

#buttonContainer button {
	margin: 1.5%;
	width: 5vw;
	height: 7vh;
	cursor: pointer;
	background: transparent;
	border: 3px solid;
	border-radius: 10px;
	background: rgb(255, 255, 255);
	font-size: 1.3em;
	font-weight: 600;
}

#pointsDiv {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 48.5vh;
	position: absolute;
	bottom: 26vh;
	left: 88vw;
	font-size: 2em;
	width: 10vw;
}

#diceRollText {
	width: 17vw;
	height: 22vh;
	position: absolute;
	bottom: 40vh;
	font-size: large;
}

#h1Div {
	display: flex;
	justify-content: space-evenly;
}

#damageContainerPlayer {
	font-size: larger;
	position: absolute;
	width: 25vw;
	height: 20vh;
	right: 20vw;
	bottom: 51.5vh;
	contain: content;
	z-index: 0;
	font-weight: 700;
}

#damageContainerEnemy {
	font-size: larger;
	position: absolute;
	width: 25vw;
	height: 20vh;
	left: 20vw;
	bottom: 51.5vh;
	contain: content;
	z-index: 0;
	font-weight: 700;
}

#armies {
	position: absolute;
	height: 100vh;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

#saxonHealthAndName {
	display: inline-block;
}

#instructions {
	width: 90vw;
	height: 90vh;
	background: rgb(236, 209, 85);
}

#mainInstructions {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 100%;
	color: black;
}

#mainInstructions div {
	text-align: justify;
	width: 75vw;
	font-size: 1.4em;
}

#mainInstructions #instructionsHeader {
	text-align: center;
}

#soldiersInstructions {
	display: none;
	background: rgb(236, 209, 85);
	flex-direction: column;
	font-size: 1.5em;
	text-align: justify;
	color: black;
	justify-content: space-around;
	height: 100%;
}
#soldiersInstructions div {
	margin: 1%;
}

#instructionsInfo {
	display: none;
}

#instructionsButtons button {
	height: 4vh;
	width: 8vw;
	font-size: 1em;
	font-weight: 600;
	cursor: pointer;
	margin-top: 4%;
}

#instructionsButton {
	margin-top: 20%;
	color: rgb(158, 121, 75);
	border-color: rgb(158, 121, 75);
	background: rgb(252, 255, 205);
}

#instructionsButton:hover {
	color: rgb(214, 149, 69);
}
