body {
	margin: 0;
	font-family: sans-serif;
	font-size: 20px;
	text-align: center;
}

header {
	display: flex;
	flex-direction: column;
	width: 500px;
	margin: 10% auto;
}

select {
	font-size: xx-large;
	text-align: center;
	margin: 85px;
	cursor: pointer;
}

header button {
	margin: auto;
	padding: 5px 35px;
	font-size: 1.2em;
	background: transparent;
	cursor: pointer;
	border: 1px solid black;
	border-radius: 10px;
}

header button:hover {
	color: rgb(247, 82, 82);
	transition: 250ms ease;
}

h1 {
	color: rgb(247, 82, 82);
}

section {
	display: none;
	flex-direction: column;
	height: 100vh;
	align-items: center;
	justify-content: space-around;
}

ul {
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
}

h2,
h3 {
	font-weight: 400;
	margin: 3px;
	font-size: 32px;
}

footer {
	display: none;
	justify-content: center;
	align-items: center;
	height: 75vh;
	flex-direction: column-reverse;
}

footer button {
	margin-top: 50px;
	padding: 5px 35px;
	font-size: 1.2em;
	background: transparent;
	cursor: pointer;
	border: 1px solid black;
	border-radius: 10px;
}

footer button:hover {
	color: rgb(247, 82, 82);
	transition: 250ms ease;
}

.armies {
	border: 2px solid black;
	border-radius: 15px;
	width: 95vw;
	height: 21vh;
	display: flex;
	flex-direction: column;
}

.soldiers {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin: auto;
}

.strength {
	color: rgb(248, 99, 99);
}

.green {
	color: rgb(34, 219, 9);
}

.red {
	color: rgb(248, 99, 99);
}

.red:hover {
	color: rgb(189, 56, 56);
	transition: 100ms;
}

.yellow {
	color: rgb(219, 199, 19);
}

.yellow:hover {
	transition: 100ms;
	color: rgb(185, 170, 30);
}
.dexterity {
	color: rgb(219, 199, 19);
}

.not-implemented {
	color: gray;
	border-color: gray;
}

.not-implemented:hover {
	color: gray;
	border-color: gray;
}

.turnText {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 400px;
}

.turnText h2 {
	font-size: 2.1em;
	visibility: hidden;

	font-weight: 600;
}

#vikingH2 {
	color: rgb(241, 33, 33);
}

#saxonH2 {
	color: rgb(219, 199, 19);
}

#vikingArmy {
	width: 95vw;
}

#saxonArmy {
	width: 95vw;
}

#buttonContainer {
	display: flex;
	width: 250px;
	flex-wrap: wrap;
	position: relative;
	right: 41.25vw;
	top: 6vw;
}

#buttonContainer button {
	margin: 5px;
	width: 100px;
	height: 70px;
	cursor: pointer;
	background: transparent;
	border: 2px solid;
	border-radius: 10px;

	font-size: larger;
}

#pointsDiv {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 465px;
	position: absolute;
	bottom: 26vh;
	left: 89vw;
	font-size: 30px;
}
