body {
	margin: 0;
	font-family: sans-serif;
	font-size: 20px;
	text-align: center;
}

header {
	display: flex;
	flex-direction: column;
	width: 500px;
	margin: 10% auto;
}

select {
	font-size: xx-large;
	text-align: center;
	margin: 85px;
	cursor: pointer;
}

header button {
	margin: auto;
	padding: 5px 35px;
	font-size: 1.2em;
	background: transparent;
	cursor: pointer;
	border: 1px solid black;
	border-radius: 10px;
}

header button:hover {
	color: rgb(247, 82, 82);
	transition: 250ms ease;
}

h1 {
	color: rgb(247, 82, 82);
}

section {
	display: none;
	flex-direction: column;
	height: 100vh;
	align-items: center;
	justify-content: space-around;
}

ul {
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
}

h2,
h3 {
	font-weight: 400;
	margin: 3px;
	font-size: 32px;
}

.armies {
	border: 1px solid black;
	width: 95vw;
	display: flex;
	flex-direction: column;
}

.soldiers {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin: auto;
}

.green {
	color: rgb(34, 219, 9);
}

.red {
	color: rgb(241, 33, 33);
}

.yellow {
	color: rgb(219, 199, 19);
}

#vikingH2 {
	color: rgb(241, 33, 33);
}

#saxonH2 {
	color: rgb(219, 199, 19);
}

#vikingArmy {
	width: 95vw;
}

#saxonArmy {
	width: 95vw;
}
